<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-4 col-lg-2 col-xl-2 ">
            <h2>Results:</h2>
            <hr>
            <div class="list-categories">
                <h5 class="title">
                    Categories
                </h5>
                <th:block th:each="categories : ${viewModel.categories}">
                    <div class="list-group">
                        <a th:href="@{/products?category={name}(name=${categories.name})}"
                           class="list-group-item d-flex justify-content-between text-dark">
                            <span class="" th:text="${categories.name}"></span>
                            <div>
                                <span class="badge text-white bg-info p-1"
                                      th:text="${#sets.size(categories.products)}"></span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
            <hr>
            <div class="list-categories">
                <h5 class="title">
                    Brands
                </h5>
                <th:block th:each="brand : ${viewModel.brands}">
                    <div class="list-group">
                        <a th:href="@{/products?brand={name}(name=${brand.name})}"
                           class="list-group-item d-flex justify-content-between">
                            <span class="text-dark" th:text="${brand.name}"></span>
                            <div>
                                <span class="badge text-white bg-info p-1"
                                      th:text="${#sets.size(brand.products)}"></span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-md-8 col-lg-10 col-xl-10">
            <div class="d-flex justify-content-between">
                <h2>Products:</h2>
                <form class="form-inline my-2 my-lg-0" method="get" action="/products">
                    <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <hr>
            <div class="row">
                <th:block th:each="product : ${viewModel.products}">
                        <div class="col-xs-18 col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center mb-5">
                            <div class="thumbnail">
                                <div class="caption">
                                    <a th:href="@{/products/{name}(name=${product.name})}">
                                        <img src="img/product.png" class="w-75">
                                    </a>
                                    <h5 class="pt-1" th:text="${product.name}"></h5>
                                    <p th:text="|$${product.price}|"></p>
                                    <a th:href="@{/products/{name}(name=${product.name})}" class="btn btn-info btn-xs" role="button">View</a>
                                </div>
                            </div>
                        </div>
                </th:block>
            </div>
        </div>
    </div>
</div>