<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row pt-3">
        <div class="col-md-4 col-lg-2 col-xl-2 ">
            <h2>Results:</h2>
            <hr>
            <div class="list-category">
                <h5 class="title">
                    Categories
                </h5>
                <th:block th:each="category : ${viewModel.categories}">
                    <div class="list-group">
                        <a th:href="@{/products?category={name}(name=${category.name})}" class="list-group-item d-flex justify-content-between text-dark">
                            <span class="" th:text="${category.name}"></span>
                            <div>
                                <span class="badge text-white bg-info p-1" th:text="${#sets.size(category.products)}"></span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
            <hr>
            <div class="list-category">
                <h5 class="title">
                    Brands
                </h5>
                <th:block th:each="brand : ${viewModel.brands}">
                    <div class="list-group">
                        <a href="#" class="list-group-item d-flex justify-content-between">
                            <span class="text-dark" th:text="${brand.name}"></span>
                            <div>
                                <span class="badge text-white bg-info p-1" th:text="${#sets.size(brand.products)}"></span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-md-8 col-lg-10 col-xl-10">
            <h2>Products:</h2>
            <hr>
            <div class="row">
                <th:block th:each="product : ${viewModel.products}">
                    <div class="col-xs-18 col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center mb-5">
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="img/product.png" class="w-75">
                                <h5 th:text="${product.name}"></h5>
                                <p th:text="${product.price}"></p>
                                <a href="#" class="btn btn-info btn-xs" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>