<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">

        <!-- SIDEBAR -->
        <div class="col-md-4 col-lg-2 col-xl-2 ">
            <th:block th:include="~{fragments/products/all/sidebar}"></th:block>
        </div>

        <div class="col-md-8 col-lg-10 col-xl-10">

            <!-- HEADER & SEARCH FORM -->
            <div class="d-flex justify-content-between">
                <h2 th:text="|#{products}:|">Products:</h2>
                <th:block th:include="~{fragments/products/all/search-form}"></th:block>
            </div>

            <hr class="bg-info hr-2">

            <!--RENDER POSTS-->
            <div class="row ml-1">
                <th:block th:each="product : ${viewModel.products}">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center mb-5">
                            <!-- INDIVIDUAL PRODUCT -->
                            <th:block th:include="~{fragments/products/all/product}"></th:block>
                        </div>
                </th:block>

                <!-- IF PRODUCTS ARE MISSING NOTIFICATION -->
                <th:block th:include="~{fragments/products/all/missing-products-message}"></th:block>

            </div>
        </div>
    </div>
</div>