<div class="container-fluid m-0 p-0" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
        <a class="navbar-brand" th:href="@{/}">Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/products}" th:text="#{nav.products}"></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/categories}"th:text="#{nav.categories}">Categories</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/brands}" th:text="#{nav.brands}">Brands</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/contact}" th:text="#{nav.contact}">Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/about}" th:text="#{nav.about}">About</a>
                </li>
            </ul>
            <div class="mr-2">
                <select class="form-control" id="languageSelect">
                    <option value="" th:text="#{lang}"></option>
                    <option value="en" th:text="#{change.lang.en}"></option>
                    <option value="bg" th:text="#{change.lang.bg}"></option>
                </select>
            </div>
            <div sec:authorize="isAnonymous()">
                <th:block th:include="~{fragments/navbar/authorities/guest}"/>
            </div>
            <div sec:authorize="hasAuthority('USER') and !hasAuthority('ADMIN')">
                <th:block th:include="~{fragments/navbar/authorities/user}"/>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <th:block th:include="~{fragments/navbar/authorities/admin}"/>
            </div>
        </div>
    </nav>
</div>