<a class="rounded nav-link d-inline-block text-white bg-info"
   th:href="@{/products/create}" th:text="|Create Product|">
</a>

<a class="rounded ml-2 text-white nav-link d-inline-block bg-info"
   th:href="@{/categories/create}">Create Category
</a>

<a class="text-dark nav-link d-inline-block" th:href="@{/users/{username}(username=${#authentication.getPrincipal().getUsername()})}"
   th:text="|Admin ${#authentication.getPrincipal().getUsername()}|"></a>
<a class="text-dark nav-link d-inline-block" th:href="@{/logout}">Logout</a>