<a class="nav-link text-white d-inline-block bg-danger"
   th:href="@{/products/create}"
   th:text="|Create Product|"></a>
<a class="ml-2 nav-link text-white d-inline-block bg-danger" th:href="@{/categories/create}">Create Category</a>
<a class="nav-link text-white d-inline-block" th:href="@{/users/{username}(username=${#authentication.getPrincipal().getUsername()})}"
   th:text="|Admin ${#authentication.getPrincipal().getUsername()}|"></a>
<a class="nav-link text-white d-inline-block" th:href="@{/logout}">Logout</a>