<h2 th:text="|#{products.results}:|">Results:</h2>
<hr class="bg-info">
<div class="list-categories">
    <h5 class="title" th:text="|#{products.categories}:|">
        Categories:
    </h5>
    <div th:if="${#sets.isEmpty(viewModel.categories)}">
        <p class="text-secondary"><i th:text="#{products.no.categories}">There are no categories yet.</i></p>
    </div>
    <th:block th:each="categories : ${viewModel.categories}">
        <div class="list-group">
            <a th:href="@{/products?category={name}(name=${categories.name})}"
               class="list-group-item d-flex justify-content-between text-dark">
                <span class="" th:text="${categories.name}"></span>
                <div>
                                <span class="badge text-white bg-info p-1"
                                      th:text="${#sets.size(categories.products)}"></span>
                </div>
            </a>
        </div>
    </th:block>
</div>
<hr class="bg-info">
<div class="list-categories">
    <h5 class="title" th:text="#{brands}">
        Brands
    </h5>
    <div th:if="${#sets.isEmpty(viewModel.brands)}">
        <p class="text-secondary"><i th:text="#{products.no.brands}">There are no brands yet. Consider listing one by creating a product yourself!</i></p>
    </div>
    <th:block th:each="brand : ${viewModel.brands}">
        <div class="list-group">
            <a th:href="@{/products?brand={name}(name=${brand.name})}"
               class="list-group-item d-flex justify-content-between">
                <span class="text-dark" th:text="${brand.name}"></span>
                <div>
                                <span class="badge text-white bg-info p-1"
                                      th:text="${#sets.size(brand.products)}"></span>
                </div>
            </a>
        </div>
    </th:block>
</div>